@media all and (min-width: 480px) {
  body {
      background-image: url('https://i.redd.it/klttow3qk2e41.jpg');
      background-color: #cccccc;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      padding: 16px;
  }
  
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
  
  #chat {
    max-height: calc(100vh - 128px);
    overflow: scroll;
    padding: 16px;
  }
  
  .name {
    color: rgba(0, 0, 0, 0.54);
  }
  
  .content {
    margin-bottom: 8px;
  }

}