@media all {
    body {
        background-image: url('https://i.redd.it/klttow3qk2e41.jpg');
        background-color: #080808;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .horizontal_TopRow_LoggedOut {
        margin: 0 auto;
        overflow: hidden;
        background-color: rgb(238, 184, 153);
        max-width: 320px;
        padding: 6px 8px;
        text-align: center;
        color: black;
    }

    .horizontal_TopRow {
        list-style-type: none;
        margin: 0 auto;
        overflow: hidden;
        background-color: black;
        padding: 6px 8px;
        text-align: center;
    }

    .horizontal_SecondRow {
        list-style-type: none;
        margin: 0 auto;
        overflow: hidden;
        background-color: rgb(238, 184, 153);
        padding: 6px 8px;
        text-align: center;
        vertical-align: middle;
    }

    .logo_container img {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        height: auto;
    }

    .smallLogo img {
        float: left;
        margin: 0 auto;
        max-width: 85px;
        height: auto;
        padding: 0px 0px;
    }

}