@media all {
    body {
        background-image: url('https://i.redd.it/klttow3qk2e41.jpg');
        background-color: #080808;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .horizontal_TopRow {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        padding: 10px 12px;
        text-align: center;
    }

    .horizontal_SecondRow {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: lightseagreen;
        padding: 10px 12px;
        text-align: center;
    }

}