@media all {
    body {
        background-image: url('https://i.redd.it/klttow3qk2e41.jpg');
        background-color: #080808;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }


}